In [1]:
arr = [2,3,4,5,6]
e=0
o=0
for i in arr:
    if(i%2==0):
        e+=1
    else:
        o+=1
print("even number in given array",e)
print("odd number in given arr",o)

even number in given array 3
odd number in given arr 2

In [2]:
arr = [22,32,42,52,62]
e=0
o=0
for i in arr:
    if(i%2==0):
        e+=1
    else:
        o+=1
print("even number in given array",e)
print("odd number in given arr",o)

even number in given array 5
odd number in given arr 0

# Average number in arry

In [3]:
a = [1,2,3,4,5]
s = sum(a)/5
print(s)

3.0

In [4]:
a = [5,3,6,7,5,3]
s = sum(a)/6
print(s)

4.833333333333333

# print the given digit in words

In [5]:
x="1234"
s = ["zero",'one','Two','Three','four','five','six','seven','eight','nine']
for i in range(len(x)):
    for j in range(len(s)):
        if(j==int(x[i])):
            print(s[j],end="")

oneTwoThreefour

# check if a larger number is divisible by 6 or not

In [ ]:
a = int(input("enter number:-"))
if(a%6==0):
    print("yes")
else:
    print("no")

# palindrome

In [28]:
i=int(input("enter number:-"))
org = i
r = 0
while(i>0):
    r=(r*10)+i%10
    i=i//10
if(org==r):
    print("its palindrome")
else:
    print("not")

enter number:-2002
its palindrome

# count vowels number

In [35]:
x=int(input("enter number:-"))
s = ["a","e","i","o","u"]
for i in range(len(x)):
    for j in range(len(s)):
        if(x[i]==s[j]):
            
            print(j)

enter number:-abcd

ValueError: invalid literal for int() with base 10: 'abcd'

In [2]:
def count_subsequences_limited(s, t):

  m, n = len(t), len(s)
  dp = [[0] * (n + 1) for _ in range(m + 1)]

  for i in range(m + 1):
    dp[i][0] = 1 

  for i in range(1, m + 1):
    for j in range(1, n + 1):
      if t[i - 1] == s[j - 1]:
        dp[i][j] = dp[i - 1][j - 1] + dp[i][j - 1]  
      else:
        dp[i][j] = dp[i][j - 1] 

 
  return min(dp[m][n], 3)

s = "banana"
t = "ban"
count = count_subsequences_limited(s, t)
print(count)

3

# reverse str

In [12]:
a=[1,2,3]
x=a[::-1]
print(x)

[3, 2, 1]

# find max and min element in list

In [8]:
a=[3,5,4,1,9]
m=a[0]
for i in range(len(a)):
    if(a[i]<m):
        m=a[i]
        print(a[i])
max=a[0]
for j in range(i,len(a)):
    if(a[j]>max):
        max=a[j]
        print(a[j])

1
9

# 3rd smallest elemet

In [16]:
a=[7,10,4,3,20,15] #[3,4,7,10,15,20]
a.sort()
k=2
for i in range(len(a)):
    if(i==k):
        print(a[i])

7

# sort arry without using sorted function

In [17]:
a=[0,2,1,2,0]
b=[]
c=[]
d=[]
for i in a:
    if i==0:
        b.append(i)
    elif i==1:
        c.append(i)
    else:
        d.append(i)
print(b+c+d)

[0, 0, 1, 2, 2]

# union and intersection

In [21]:
a=[1,2,3,4,5]
b=[1,2,3]
s=set(a)
x=set(b)
print(s.union(b))
print(s.intersection(b))

{1, 2, 3, 4, 5}
{1, 2, 3}

# pop and insert

In [28]:
a=[1,2,3,4,5]
a.pop()
a.insert(0,5)
print(a)

[5, 1, 2, 3, 4]

# sub arr

In [29]:
a=[1,2,3,-2,5]
m = 0
c = 0
for i in range(len(a)):
    c=c+a[i]
    if(c>m):
        m=c
    if(c<0):
        c=0
print(m)

9

# min the height

In [38]:
a=[1,5,8,10]
k=2
for i in range(len(a)):
    if(a[i]<=k):
        c=a[i]+k
        
    else:
        d=a[i]-k
        
print(d-c)

5

# merge interval

a=[[1,3],[2,6],[8,10],[15,18]]
a.sort()
m=[] #merged
for i in a:
    if not m or m[-1][1] < i[0]:
        m.append(i)
    else:
        m[-1][1]=max(m[-1][1],i[1])
print(m)

# permutation

In [9]:
from itertools import permutations

def all_permutations(arr):


  return list(permutations(arr))

arr = [1, 2, 3]
permutations = all_permutations(arr)

print(permutations)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

# Count Inversion

In [8]:
a=[2,4,1,3,5]
c=0
for i in range(len(a)):
    for j in range(i+1,len(a)):
           if(a[i]>a[j]):
                c+=1
                print(c)

1
2
3

# Best Time to Buy and Sell Stock

In [11]:
a=[7,1,5,3,6,4]
c=0
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if(a[j]-a[i]>c):
            c=a[j]-a[i]
print(c)

5

# Count Pairs with given Sum

In [28]:
a=[1,5,7,1]
k=6
c=0
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if(a[i]+a[j]==k):
            print(k)

6
6

# common element

In [29]:
a=[1,5,10,20,40,80]
b=[6,7,20,80,100]
c=[3,4,15,20,30,70,80,120]
d=set(a)
e=set(b)
f=set(c)
x=d.intersection(e,f)
print(x)

{80, 20}

# Rearrange  arr in alternating +ve and -ve item

In [33]:
a=[-5,-2,5,2,4,7,1,8,0,-8]

p=[x for x in a if x>0]
n=[x for x in a if x<0]
a=n+p
print(a)

[-5, -2, -8, 5, 2, 4, 7, 1, 8]

# subarray with 0 sum

In [46]:
a=[4,2,-3,1,6]

for i in range(len(a)):
    for j in range(i+1,len(a)):
        for k in range(i+2,len(a)):
                if(a[i]+a[j]+a[k]==0):
                    print("yes")

yes

# Factorials of large number

In [5]:
def test(n):
    return 1 if(n==1 or n==0)else n*test(n-1)
x=5
print("factorial",)
test(x)

factorial

120

# maxi product subarray

In [6]:
a=[6,-3,-10,0,2]
c=0
for i in range(len(a)):
    for j in range(i+1,len(a)):
        for k in range(i+2,len(a)):
            c=a[i]*a[j]*a[k]
            print(c)

180
0
-36
600
0
-120
0
0
0
-120
0
24
0
60
0
0
0
-12
0
-40

# Longest Consective subsequence

In [15]:
a=[2,6,1,9,4,5,3]
c=1
x=[]
for i in range(len(a)):
    for j in range(len(a)):
        if(a[j]==c):
            x.append(c)
            c+=1
            break
print(x)

[1, 2, 3, 4, 5, 6]

# jump

In [4]:
def row(a,n,k):
    b=a[0]
    k+=1
    if(b>=len(a)):
        print(k)
        return
    row(a[b:],n-b,k)
a=[1,3,4,5,6,7,8]
n=len(a)-1
k=0
row(a,n,k)

3

# Array subset of  another array

In [5]:
a=[1,2,3,4,4,5,6,]
b=[7,9,80]
c=set(a)
e=set(b)
if(c.intersection(e)):
    print("yes")
else:
    print("no")

no

# Triplet Sum in Array

In [13]:
a = [1,2,4,3,6]
b=10
c=0
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if(a[i]+a[j] ==b):
                c+=1
       
            
print(c)

1

# Median of two Sorted arrays of Different sizes

In [24]:
        
a=[2,3,5,8]
b=[10,12,14,16,18,20]
c=a+b
c.sort()
x=len(c)
if x%2 ==0:
    m=(c[x//2-1]+c[x//2])/2
else:
    m=c[x//2]
print(c)
print(m)

[2, 3, 5, 8, 10, 12, 14, 16, 18, 20]
11.0

# find the median

In [26]:
a=[90,100,78,89,67]
a.sort()
x=len(a)
if x%2==0:
    m=(a[x//2-1]+a[x//2])/2
else:
    m=(a[x//2])
print(a)
print(m)

[67, 78, 89, 90, 100]
89

# palindromic Array

In [1]:
a=int(input("enter number:-"))
r=0
x=a
while(a>0):
    r=(r*10)+a%10
    a=a//10
if(x==r):
    print("palindrome number")
else:
    print("not palindrom number")

enter number:-111
palindrome number

# Trapping Rain Water

In [2]:
a=[3,0,0,2,0,4]
l=0
r=len(a)-1
lm=0
rm=0
b=0
while l<r:
    if(a[l]<a[r]):
        if (lm<a[l]):
            lm=a[l]
        else:
            b+=lm-a[l]
        l+=1
    else:
        if(rm<a[r]):
            rm=a[r]
        else:
            b+=rm-a[r]
        r-=1
print(b)

10


# Chocolate Distribution Problem

In [16]:
a = [3, 4, 1, 9, 56, 7, 9, 12]
n = 8
m = 5

a.sort()
l=0
for i in range(len(a)):
    if(a[i]<=m):
        l+=1
    else:
        break
x=n-l+1
print(x)

6

# smallest Subarray with sum greater than x

In [20]:
a = [1, 4, 45, 6, 0, 19]
x = 51

min_length = float('inf')
current_sum = 0
start = 0

for end in range(len(a)):
    current_sum = 0
    for i in range(start, end + 1):
        current_sum += a[i]
        if current_sum > x:
            min_length = min(min_length, end - start + 1)
            break

print("Smallest subarray length with sum greater than", x, "is", min_length if min_length != float('inf') else "not found")

Smallest subarray length with sum greater than 51 is 4

# duplicate number remove

In [1]:
x="geekfromgeek"
c=0
for i in x:
    if i=="e":
        c=c+1
print(str(c))

4

# Check weather number is digit or not

In [2]:
x=input("enter number:-")
c=x.isdigit()
print(c)

enter number:-56
True